@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: Arial, Helvetica, sans-serif;
    --font-mono: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
html {
    scroll-behavior: smooth;
}
[id] {
    scroll-margin-top: 95px;
}
.white-mode {
    --background: #ffffff;
    --foreground: #171717;
}

.dark-mode {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 45s linear infinite;
}
@media (max-width: 768px) {
    .animate-marquee {
        animation-duration: 45s;
    }
}
